<p id="notice"><%= notice %></p>


<article>
<header>Chapter number <%= @chapter.number %></header>
<p>
  <%= @chaptertext %>
</p>
</article>

<%= link_to 'Edit', edit_story_chapter_path(@story,@chapter) %> |
<%= link_to 'Back', story_chapters_path(@story) %>
