<p id="notice"><%= notice %></p>


<article>
<header>
<center>

<%= paginate @chapterList %>
<%= page_entries_info @chapterList %>
</center>
</header>
<p>
  <%= @chaptertext %>

</p>
<p>
	<%= link_to 'Prev',story_chapter_path(@story,@chapter.prev) if @chapter.prev? %>|
  	<%= link_to 'Next',story_chapter_path(@story,@chapter.next) if @chapter.next? %>
 </p>
</article>

<%= link_to 'Edit', edit_story_chapter_path(@story,@chapter) %> |
<%= link_to 'Back', story_chapters_path(@story) %>
